# ---------------------------------------------------------------
# Système d'exploitation
# ---------------------------------------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# ---------------------------------------------------------------
# IDEs & Editeurs
# ---------------------------------------------------------------
.vscode/
.idea/
*.code-workspace

# ---------------------------------------------------------------
# Terraform
# ---------------------------------------------------------------
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
terraform.tfplan

# ---------------------------------------------------------------
# Ansible
# ---------------------------------------------------------------
*.retry
ansible/*.log

# ---------------------------------------------------------------
# Packer
# ---------------------------------------------------------------
packer_cache/
*.pkrvars.hcl

# ---------------------------------------------------------------
# Secrets & Cles
# ---------------------------------------------------------------
.env
.env.*
*.pem
id_rsa
id_ed25519
*.key
*.p12
*.pfx
# NOTE : remplacer cloud/azure/id_rsa.pub par votre vraie cle publique
# avant de commiter si vous souhaitez la versionner.

# ---------------------------------------------------------------
# Cloud & Containers
# ---------------------------------------------------------------
node_modules/
*.lock
*.log

# ---------------------------------------------------------------
# Python
# ---------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/

# ---------------------------------------------------------------
# DFIR & Malware Analysis Artifacts
# ---------------------------------------------------------------
analysis-*/
dfir-*/
cis-audit-*/
*.dmp
*.lime
*.mem

# ---------------------------------------------------------------
# MLOps & Backstage
# ---------------------------------------------------------------
mlruns/
models/
*.pt
*.h5
*.pkl
backstage-app/

# ---------------------------------------------------------------
# Divers
# ---------------------------------------------------------------
*.tmp
*.bak
*.tar.gz
*.zip
