---
- name: Configuration Rsyslog serveur central
  hosts: debian_syslog
  become: yes
  tasks:
    - name: Installation rsyslog
      apt:
        name: rsyslog
        state: present

    - name: Autoriser UDP/TCP 514
      ufw:
        rule: allow
        port: 514
        proto: any

    - name: Config rsyslog serveur
      copy:
        dest: /etc/rsyslog.d/10-remote.conf
        content: |
          $ModLoad imudp
          $UDPServerRun 514
          $ModLoad imtcp
          $InputTCPServerRun 514

          $template RemoteHost,"/var/log/remote/%HOSTNAME%/%$YEAR%-%$MONTH%-%$DAY%.log"
          *.* ?RemoteHost
          & stop
      notify: restart rsyslog

  handlers:
    - name: restart rsyslog
      service:
        name: rsyslog
        state: restarted