---
- name: Configuration Samba (partage fichiers)
  hosts: debian_fileserver
  become: yes
  tasks:
    - name: Installation Samba
      apt:
        name: samba
        state: present

    - name: Configuration smb.conf
      template:
        src: templates/smb.conf.j2
        dest: /etc/samba/smb.conf
      notify: restart samba

    - name: Création répertoire partagé
      file:
        path: /srv/partage
        state: directory
        owner: nobody
        group: nogroup
        mode: '0775'

    - name: Ajout utilisateur Samba (exemple)
      community.general.smbuser:
        name: user1
        password: SuperSecret123!
        state: present

  handlers:
    - name: restart samba
      service:
        name: smbd
        state: restarted